<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>112313</title>
    <style>
        .content{
            display: flex;
            width: 1000px;
            height: 1000px;
            background: #ffefa4;
            margin: 0 auto  ;
        }
        .left{
            width: 200px;
            height: 1000px;
            background: #66cc66;
        }
        .right{
            flex: 1;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="left">
        <iframe src="../left.html" name="leftname" scrolling="auto" noresize></iframe>
    </div>
    <iframe class="right" src="../apitest_manage" name="mainFrame" scrolling="NO" noresize></iframe>
</div>
</body>
</html>